<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="stylesheet" href="/public/css/main.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div class="row">
        <div class="col-lg-4">
          <h1>Hi Mentor: <%=data.user%></h1>
          <table class="table table-bordered table-condensed table-hover table-striped text-center">
            <thead>
               <tr>
                  <th scope="col">Your Schedule</th>
               </tr>
            </thead>
            <tbody class="text-left">
               <tr>
                  <td>Subject</td>
                  <td>time</td>
                  <td>link</td>
                  <td>status</td>
               </tr>
                <% for(let key in data.schedule) { %>
                      <% for(let i=0;i<data.schedule[key].length;i++) { %>
                                <tr>
                                  <td><%=key%></td>
                                  <td><%=data.schedule[key][i]%></td>
                                  <td>gmeet</td>
                                  <td>upcoming</td>
                                </tr>
                      <% } %>
                <% } %>                 
            </tbody>
         </table>          
        </div>
        <div class="col-lg-4">
          <table class="table table-bordered table-condensed table-hover table-striped text-center">
            <thead>
               <tr>
                  <th scope="col">Subject </th>
                  <th scope="col">Enrolled</th>
                  <th scope="col">Allocated time</th>
               </tr>
            </thead>
            <tbody class="text-left">
              <% for(let i=0;i<data.subjects.length;i++) {%>
                   <tr>
                     <td><%=data.subjects[i]%></td>
                     <td>0</td>
                     <td><%=data.allocate[i]%></td>
                   </tr>
              <% } %>     
            </tbody>
         </table>          
        </div>
        <div class="col-lg-4">      
        <iframe
        src="https://tokbox.com/embed/embed/ot-embed.js?embedId=3e77ab48-6bde-43d3-bd1c-d354097ab538&room=DEFAULT_ROOM&iframe=false"
        width=500
        height=500
        scrolling="auto"
        allow="microphone; camera"
        style="background-color:violet"
         ></iframe>
         <form action="">
          <input id="m" autocomplete="off" /><button>Send</button>
         </form>
        </div>
      </div> 
   
  <script src="/public/js/example.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <script>
     $(function () {
          let id="prats";
          const socket = io('http://localhost:3000/',
      {
        transports: ['websocket'], 
        query: { id },
        withCredentials: true 
      });

          $('form').submit(function(){
          socket.emit('message', $('#m').val());
          $('#m').val('');
          return false;
          });
          socket.on("message", function(data) {
            console.log("received: ",data);
            $("#m").val(data);
          });          
      });
  </script>  
</body>
</html>